/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  margin: 0;
  padding: 0;
  background-color: #d73;
}

header h1 {
  margin: 0;
  font-size: 1.5em
}

header h2 {
  margin: 0;
  font-size: 1.2em;
}

.search input {
  margin-top: 1.5em;
}

.content {
  background-color: white;
}
.instructions {
  float: right;
  width: 12em;
}

.search {
  min-width: 50em;
  background-color: #d73;
  height: 4.5em;
}

.search input , .search select{
  font-size: 1em
}

footer, header {
  background-color: #d73;
}

header {
  width: 14em;
  height: 4.5em;
  float: left;
}

header p {
  margin: 0;
}

.results {
  min-height: 10em;
  padding-left: 0.5em;
}

.term, .term_class, .tones {
  display: inline;
}

.term {
  font-weight: bold;
}

.term_class {
  font-style: italic;
}

.result {
  padding-bottom: 1em;
}