!!!
%html
  %head
    %title Mkpuruokwu Igbo: A large online Igbo dictionary
    %meta{:content => "Mkpuruokwu Igbo is an online Igbo dictionary containing #{number_with_delimiter(@english_count)} English and #{number_with_delimiter(@igbo_count)} Igbo entries, and based on Michael J.C. Echuruo's excellent Igbo-English Dictionary.", :property => "description"}
    = csrf_meta_tags
  
%body
  = yield
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25743661-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();