!!!
%html
  %head
    %title Mkpuruokwu Igbo: A large online Igbo dictionary
    %meta{:content => "Mkpuruokwu Igbo is an online Igbo dictionary containing #{number_with_delimiter(@english_count)} English and #{number_with_delimiter(@igbo_count)} Igbo entries, and based on Michael J.C. Echuruo's excellent Igbo-English Dictionary.", :property => "description"}
    = csrf_meta_tags
  
%body
  = yield